{% extends 'base.html.twig' %}

{% block title %}PlantingPeriod index{% endblock %}

{% block body %}
    <h1>PlantingPeriod index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Rank</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planting_period in planting_periods %}
            <tr>
                <td>{{ planting_period.id }}</td>
                <td>{{ planting_period.name }}</td>
                <td>{{ planting_period.rank }}</td>
                <td>
                    <a href="{{ path('planting_period_show', {'id': planting_period.id}) }}">show</a>
                    <a href="{{ path('planting_period_edit', {'id': planting_period.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('planting_period_new') }}">Create new</a>
{% endblock %}
